:root {
  /*
  - White: hsl(0, 0%, 100%)
  - Dark Gray: hsl(0, 0%, 55%)
  - Very Dark Gray: hsl(0, 0%, 41%) 
  - Black: hsl(0, 0%, 0%)
  */

  /* colors */
  --clr-black: 0, 0%, 0%;
  --clr-gray--l: 0, 0%, 55%;
  --clr-gray--m: 0, 0%, 41%;
  --clr-white: 0, 0%, 100%;

  /* font sizes */
  --fs-500: clamp(3.5rem, 5vw + 1rem, 8rem);
  --fs-400: clamp(3rem, 3.5vw + 1rem, 6rem);
  --fs-300: 2.2rem;
  --fs-200: 1.6rem;

  /* font-families */
  --ff-prim: "Alata", sans-serif;
  --ff-accent: "Josefin Sans", sans-serif;
  /* font weight: 300, 400 */

  --p-top-sm: 2rem;
  --p-top-m: 5rem;
  --p-top-b: 10rem;
}

/* --------------------- */
/*          Reset        */
/* --------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
  /* background-color: transparent; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* set up the body */
body {
  font-family: var(--ff-prim);
  font-size: var(--fs-200);
  text-align: center;

  color: hsl(var(--clr-black));
  background-color: hsl(var(--clr-white));

  line-height: 1.5;
  min-height: 100vh;

  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
}

/* make forms elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------- */
/*   Utility classes     */
/* --------------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.container {
  padding: 3rem 2rem;
}

.p-top-b {
  padding-top: var(--p-top-b);
}

.word-no-break {
  white-space: nowrap;
}

/* ----------------- */
/* --- SKIP LINK --- */
/* ----------------- */
.skip-link {
  z-index: 9000;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  text-transform: uppercase;
  /* max-width: 20rem; */
  padding: 2rem 4rem;
  background-color: hsl(var(--clr-white));

  transition: transform 0.2s ease-in-out;
  transform: translateY(-100%);
}

.skip-link:focus-visible {
  transform: translateY(0%);
}

/* ----------------- */
/* --- HEADER ----- */
/* --------------- */
.header-bg {
  background-image: url(./images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container--header {
  color: hsl(var(--clr-white));
  height: 100vh;
  padding-top: 4rem;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.logo {
  z-index: 8000;
  width: 14rem;
}

.title-deco {
  margin-top: 30vh;
  padding: 2rem 2rem;
  border: 2px solid hsl(var(--clr-white));
}

.header--title {
  font-family: var(--ff-accent);
  text-transform: uppercase;
  line-height: 1;
  font-size: var(--fs-500);
  text-align: left;

  max-width: 15ch;
}

/* ----------------- */
/* --- NAVIGATION --- */
/* --------------- */
.mobile-nav-toggle {
  z-index: 5000;
  cursor: pointer;
  background-image: url(./images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  border: none;
  width: 2.5rem;
  height: 2rem;
}

.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(./images/icon-close.svg);
}

.mobile-nav-toggle:hover {
  transform: scale(0.95);
  filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(3247%)
    hue-rotate(212deg) brightness(85%) contrast(92%);
}

.mobile-nav-toggle:active {
  filter: brightness(0) saturate(100%) invert(39%) sepia(0%) saturate(0%)
    hue-rotate(139deg) brightness(130%) contrast(88%);
}

.primary-navigation {
  display: none;
  opacity: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.navigation li:hover {
  color: hsl(var(--clr-gray--l));
  transform: scale(0.97);
}
.navigation li:active {
  color: hsl(var(--clr-gray--l), 0.95);
  transform: scale(0.93);
}

.primary-navigation[data-visible="true"] {
  z-index: 4000;
  display: inline-block;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 1);

  animation: fadeIn 0.4s ease-in-out;
}

@media (max-width: 56.25em) {
  .navigation--header {
    align-items: flex-start;

    font-family: var(--ff-accent);
    font-size: 2.5rem;
    text-transform: uppercase;
    color: hsl(var(--clr-white));
    padding: 20rem 10rem 5rem 2rem;
  }
}

/* ------------------- */
/* --- DESCRIPTION --- */
/* ------------------- */
.description__title {
  font-family: var(--ff-accent);
  font-size: var(--fs-400);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 4rem;
}

.description__text {
  color: hsl(var(--clr-gray--l));
  padding: 0 1rem;
  margin-top: 2rem;
}

/* ------------------- */
/* ---- CREATIONS ---- */
/* -------------------- */
.creations-grid {
  display: grid;
  gap: 2.5rem;

  margin-bottom: 7rem;
}

.creations__title {
  font-family: var(--ff-accent);
  font-size: var(--fs-400);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  margin-block: 4rem 2.5rem;
}

.creations__btn {
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 0.6rem 3.5rem;
  margin-top: 1rem;
  border-color: black;

  justify-self: center;
  grid-row: 10;
}

.creations__btn:hover {
  transform: scale(0.94);
  background-color: hsl(var(--clr-black));
  color: hsl(var(--clr-white));
  border-color: black;
}
.creations__btn:active {
  transform: scale(0.9);
}

.creations__btn:focus-visible {
  background-color: hsl(var(--clr-black));
  color: hsl(var(--clr-white));
  border-color: black;
  outline: 3px dotted black;
  outline-offset: 1rem;
}

/* -------------------- */
/* ------ CARDS ------- */
/* -------------------- */
.creations__link:focus-visible {
  outline-offset: 0.7rem;
}

.creations__card {
  cursor: pointer;
  position: relative;
}

.creations__card::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

.card__caption {
  z-index: 3000;
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 1.5rem;

  max-width: 45%;

  text-align: left;
  font-family: var(--ff-accent);
  text-transform: uppercase;
  line-height: 1;
  font-size: var(--fs-300);
  color: hsl(var(--clr-white));
}

/* -------------------- */
/* ------ FOOTER ------ */
/* -------------------- */
.footer {
  background-color: hsl(var(--clr-black));
  color: hsl(var(--clr-white));
  padding-top: 5rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

.navigation--footer {
  margin-bottom: 1.5rem;
}

.socials-navigation {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-bottom: 2rem;
}

.socials-navigation li:hover {
  transform: scale(0.95);
  filter: brightness(0) saturate(100%) invert(64%) sepia(1%) saturate(0%)
    hue-rotate(211deg) brightness(87%) contrast(89%);
}
.socials-navigation li:active {
  transform: scale(0.9);
  filter: brightness(0) saturate(100%) invert(39%) sepia(0%) saturate(0%)
    hue-rotate(139deg) brightness(130%) contrast(88%);
}

.legal {
  color: hsl(var(--clr-gray--l));
}

/* ---------------------- */
/* --- MEDIA QUERIES --- */
/* -------------------- */
@media (min-width: 43.75em) {
  .creations-grid {
    gap: 3rem;
  }
}
@media (min-width: 56.251em) {
  :root {
    --fs-300: 3rem;
  }

  body {
    text-align: left;
  }

  .container {
    padding-block: 10rem;
    padding-inline: clamp(5rem, 8vw + 1rem, 14rem);
  }

  main .container {
    padding-top: clamp(10rem, 8vw + 1rem, 16rem);
  }

  /* HEADER AND NAV */
  .header-bg {
    background-image: url(./images/desktop/image-hero.jpg);
    position: relative;
    z-index: 1;
  }

  .header-bg::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .title-deco {
    position: relative;
    z-index: 10000;
    padding: 5rem 5rem;
    margin-top: 25vh;
  }

  .navigation {
    flex-direction: row;
  }

  .navigation--header {
    position: relative;
    z-index: 10000;
    gap: 4rem;
    cursor: pointer;
  }

  .container--header {
    padding-top: 7rem;
  }

  .mobile-nav-toggle {
    display: none;
  }

  .primary-navigation {
    display: inline-block;
    opacity: 1;
  }

  /* CREATIONS CARDS */
  .container--creations {
    padding-bottom: 15rem;
  }

  .card__caption {
    max-width: 60%;
  }

  .creations-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    margin-bottom: 0;
  }

  .creations__title {
    grid-column: 1;
    grid-row: 1;
    grid-column-start: span 2;
    margin-block: 1rem 4rem;
    align-self: start;
  }

  .creations__btn {
    align-self: center;
    align-self: start;
    justify-self: end;
    grid-column: 1;
    grid-row: 1;
    grid-column-start: span 2;
    margin-top: 0;
  }

  /* FOOTER */
  .container--footer {
    padding-block: 6rem;
  }

  .navigation--footer {
    margin-bottom: 0;
  }

  .footer-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-flex {
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
  }
  .footer-flex-2 {
    align-items: end;
  }

  .socials-navigation {
    gap: 2rem;
  }
}

@media (min-width: 75em) {
  /* MAIN */
  .container--main {
    position: relative;
  }

  .description {
    position: absolute;
    background-color: hsl(var(--clr-white));
    bottom: 0;
    right: 0;
    max-width: calc(50% - 1rem);
    padding-top: clamp(5rem, 8vw + 1rem, 20rem);
    padding-left: clamp(7rem, 8vw + 1rem, 16rem);
  }

  .description__image {
    width: 64%;
  }

  .description__title {
    margin-top: 0;
  }

  .description__title .word-no-break {
    white-space: unset;
  }
}

/* ------------------ */
/* --- ANIMATIONS --- */
/* ------------------ */
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    display: inline-block;
    opacity: 1;
    transform: translateX(0);
  }
}
