:root {
  /* White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 0%)
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%) */

  /* colors */
  --clr-black: 0, 0%, 0%;
  --clr-gray--l: 0, 0%, 55%;
  --clr-gray--m: 0, 0%, 41%;
  --clr-white: 0, 0%, 100%;

  /* font sizes */
  /* --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem; */
  --fs-500: 4rem;
  --fs-400: 3.5rem;
  --fs-400: 3rem;
  --fs-300: 2.2rem;
  --fs-200: 1.6rem;

  /* font-families */
  --ff-prim: "Alata", sans-serif;
  --ff-accent: "Josefin Sans", sans-serif;
  /* font weight: 300, 400 */

  --p-top-sm: 2rem;
  --p-top-m: 5rem;
  --p-top-b: 10rem;
  /* --flow-space: 1rem; */
}

/* --------------------- */
/*          Reset        */
/* --------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
  /* background-color: transparent; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* set up the body */
body {
  font-family: var(--ff-prim);
  font-size: var(--fs-200);
  text-align: center;

  color: hsl(var(--clr-black));
  background-color: hsl(var(--clr-white));

  line-height: 1.5;
  min-height: 100vh;

  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
}

/* make forms elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------- */
/*Utility classes        */
/* --------------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.container {
  padding: 3rem 2rem;
}

.p-top-b {
  padding-top: var(--p-top-b);
}

.word-no-break {
  white-space: nowrap;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}

/*         */
/* Layout  */
/*        */

/* ----------------- */
/* --- HEADER ----- */
/* --------------- */

.header-bg {
  background-image: url(./images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-container {
  color: hsl(var(--clr-white));
  height: 95vh;
  padding-top: 4rem;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 14rem;
}

.title-deco {
  margin-top: 55%;
  padding: 2rem 2rem;
  border: 2px solid hsl(var(--clr-white));
}

.header--title {
  font-family: var(--ff-accent);
  text-transform: uppercase;
  line-height: 1;
  font-size: var(--fs-500);
}

/* ----------------- */
/* --- NAVIGATION --- */
/* --------------- */

.mobile-nav-toggle {
  z-index: 5000;
  cursor: pointer;
  background-image: url(./images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  border: none;
  width: 2.5rem;
  height: 2rem;
}

.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(./images/icon-close.svg);
}

.mobile-nav-toggle:hover {
  transform: scale(0.95);
  filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(3247%)
    hue-rotate(212deg) brightness(85%) contrast(92%);
}

.primary-navigation {
  display: none;
  opacity: 0;

  color: hsl(var(--clr-white));
}

.navigation li:hover {
  color: hsl(var(--clr-gray--l));
  transform: scale(0.97);
}

.primary-navigation[data-visible="true"] {
  z-index: 4000;
  display: inline-block;
  opacity: 1;
  position: absolute;
  top: 0;
  /* top: 8rem; */
  right: 0;
  padding: 4.1rem 10rem 5rem 10rem;
  background-color: rgba(0, 0, 0, 0.65);

  animation: fadeIn 0.4s ease-in-out;
}

.navigation--header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ------------------- */
/* ---- DESCRIPTION ---- */
/* -------------------- */
.description__title {
  font-family: var(--ff-accent);
  font-size: var(--fs-400);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  /*TODO maybe this an utility class? or flow  */
  margin-top: 4rem;
}

.description__text {
  color: hsl(var(--clr-gray--l));
  padding: 0 1rem;
  margin-top: 2rem;
}

/* ------------------- */
/* ---- CREATIONS ---- */
/* -------------------- */
.creations-grid {
  display: grid;
  gap: 2.5rem;

  margin-bottom: 7rem;
}

.creations__title {
  font-family: var(--ff-accent);
  font-size: var(--fs-400);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  margin-block: 4rem 2.5rem;
}

.creations__btn {
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 0.6rem 3.5rem;
  margin-top: 1rem;

  justify-self: center;
  grid-row: 10;
}

.creations__btn:hover {
  transform: scale(0.94);
  background-color: hsl(var(--clr-black));
  color: hsl(var(--clr-white));
  border-color: black;
}

/* -------------------- */
/* ------ CARDS ------- */
/* -------------------- */
.creations__card {
  cursor: pointer;
  position: relative;
}

/*TODO overlay so text is easier to read */
.creations__card::after {
  position: absolute;
  content: "";
  /* top: 0;
  left: 0; */
  inset: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

/*TODO these are actually links?  */
.card__caption {
  z-index: 3000;
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 1.5rem;

  max-width: 45%;

  text-align: left;
  font-family: var(--ff-accent);
  text-transform: uppercase;
  line-height: 1;
  /* font-size: var(--fs-400); */
  font-size: 2.3rem;
  color: hsl(var(--clr-white));
}

/* -------------------- */
/* ------ FOOTER ------ */
/* -------------------- */
.footer {
  background-color: hsl(var(--clr-black));
  color: hsl(var(--clr-white));
  padding-top: 5rem;
}

/* .footer-nav .navigation {
  display: inline-block;
} */

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/*hover states  */
.navigation--footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-bottom: 1.5rem;
}

.socials-navigation {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-bottom: 2rem;
}

.socials-navigation li:hover {
  transform: scale(0.95);
  filter: brightness(0) saturate(100%) invert(64%) sepia(1%) saturate(0%)
    hue-rotate(211deg) brightness(87%) contrast(89%);
}

.legal {
  color: hsl(var(--clr-gray--l));
}

/* ---------------------- */
/* --- MEDIA QUERIES --- */
/* -------------------- */
@media (min-width: 60.1em) {
  body {
    text-align: left;
  }
}

/* ------------------ */
/* --- ANIMATIONS --- */
/* ------------------ */
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    display: inline-block;
    opacity: 1;
    transform: translateX(0);
  }
}
